h2{
    text-align: center;
}
a{
    text-decoration: none;
}
h4{
    padding-top: 200px;
}
button{
    width: 110px;
    border-radius: 10px;
}
.previous{
    bottom: 10px; 
    position: fixed; 
    right: 55%;
}
.next{
    bottom: 10px; 
    position: fixed; 
    right: 45%;
}