*{
    background-color: rgb(222, 223, 224);
}
a{
    text-decoration: none;
    color: black;
}

p{
    color: rgb(66, 68, 68);
}
header h1{
    text-align: center;
}
header nav{
    text-align: center;
}
#col{
    column-count: 2;
}
footer{
    padding: 10px 10px 0px 10px;
    text-align: center;
}

@media (max-width: 500px)
{
    #col{
        column-count: 1;
    }
}